.navHeader {
  position: fixed;
  top: 0;
  background-color: #00aa45;
  height: 46px;
  width: 100%;
  text-align: center;
  padding-top: 8px;
}

.navHeader a {
  font-size: 25px;
  text-decoration: none;
  color: white;
}