.navHeader {
  position: fixed;
  top: 0;
  background-color: black;
  height: 47px;
  width: 100%;
  text-align: center;
  padding-top: 5px;
}

.navHeader a {
  font-size: 25px;
  text-decoration: none;
  color: white;
}