.navHeader {
  position: fixed;
  top: 0;
  background-color: #00aa45;
  height: 50px;
  width: 100%;
  padding-top: 8px;
}

.logo {
  margin-left: 15px;
}

.navHeader a {
  font-size: 20px;
  text-decoration: none;
  color: white;
}

.userIcon {
  filter: invert(100%);
  position: fixed;
  right: 10px;
}